{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock%}

{% block content %}

<!-- Image and Typograohy -->
<div>
    <img id="landing-img" src="{% url 'framed_two.jpg' %}" alt="Framed Poster">
</div>
<div class="row">
    <p class="first-name">Robyn</p>
    <p class="second-name">Janine.</p>
</div>
    <!-- Image and Typograohy -->

    <!-- Socials -->
<div class="socials">
        <a href=""><i class="lab la-instagram la-3x"></i></a> <br>
        <a href=""><i class="lab la-facebook-f la-3x"></i></a> <br>
        <a href=""><i class="lab la-twitter la-3x"></i></a> <br>
</div>

<div class="arrow">
    <i class="las la-long-arrow-alt-down la-4x"></i>
</div>
<div class="row bio">
    <h2>Hi there! Welcome to my site. <br>
        I'm Robyn a Scottish, London based <br> 
        freelance Illustrator and Graphic Designer. <br>
        Don't forget to sign up to get <br> 
        the inside on my latest pieces <br>
        and keep up to date with blog posts.   </h2>
    
</div>
    <!-- Socials -->
{% endblock %}