{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock%}

{% block content %}

<!-- Image and Typograohy -->
<div class="page-height container-fluid"></div>
<div id="landing-img">
    <img src="{{ MEDIA_URL }}type_one.jpg" alt="Framed Piece">

<div class="row names">
    <p class="name"> &nbsp; Robyn <br> Janine</p>
</div>
</div>
    <!-- Image and Typograohy -->

    <!-- Socials -->


<div class="arrow">
    <i class="las la-long-arrow-alt-down la-4x"></i>
</div>
<div class="row bio">
    <h2>Hi there! Welcome to my site. <br>
        I'm Robyn a Scottish, London based <br> 
        freelance Illustrator and Graphic Designer. <br>
        Don't forget to sign up to get <br> 
        the inside on my latest pieces <br>
        and keep up to date with blog posts.   </h2>
    
</div>

    <!-- Socials -->
{% endblock %}