
/* Global */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
    background-color: #f7a0cb;
    scroll-behavior: smooth;
}

body {
  background-color: #f7a0cb;
}

#footer {
  width: 100%;
  position: absolute;
  margin-top: 215px;
  padding-bottom: 90px;
  background: #BF4A67;
}

#navigation-section {
  height: 100px;
  width: 100%;
  z-index: 1000;
}

#main-nav {
  background-color: #BF4A67;
}

#mobile-nav {
  background-color: #BF4A67;
  top: 75px;
}




  /* Media Queries  ------------------*/

  /* Home Page  ------------------*/
  #home-hero {
    background: url(/media/robyn-hero.png) no-repeat center;
    height: 65vh;
    width: 43vw;
    background-size: contain;
    margin-left: 21px;
}


.page-height {
  height: 200vh;
}

#landing-img {
  position: fixed;
  left: 308px;
  top: 100px;

} 

.names {
  width: 100%;
  height: 200px;
}

.names > p {
  margin: 0;
  padding: 0;
  position: absolute;
  font-size: 18vw;
  right: 11px;
  font-family: 'Alata';
  line-height: 72%;
  color: #BF4A67;
  top: 39%;
  left: 19%;
  text-indent: 10%;
}

.socials {
  position: fixed;
  bottom: 0;
  line-height: 111px;
  left: 46px;
  color: #BF4A67;
  top: 120px;
}

.socials a {
  color: #BF4A67;
}

.socials a:hover {
  color: #FFF;
  cursor: pointer;
  text-decoration: none;
}

.user-list {

  position: fixed;
  right: 53px;
  top: 16px;
  color: #BF4A67;
}

.user-list a {
  color: #FFF;
  text-decoration: none;
}

.user-list a:hover {
  color: #E6567A;
  cursor: pointer;
}

.arrow {
  position: fixed;
  right: 50px;
  bottom: 50px;
  color: #FFF;
}

h2 {

  position: fixed;
  color: #FFF;
  font-size: 50px;
  margin: 0;
  padding: 0;
  bottom: 170px;
  left: 3000px;
  width: 800px;
  line-height: 60px;
  font-family: serif;


}

/* End Home Page  ------------------*/

/* Products */

.card-body {
  background-color: #f7a0cb;
}

.card-body span {
  padding: 10px;
  color: rgb(255, 235, 59);
}



.card-footer {
  padding: 0;
  border-top: none;
}

.card-img, .card-img-top {
  background: #f7a0cb;
  padding: 0 25px 25px 25px;
}

h1, h1 {
  font-size: 5vw;
  font-family: 'Alata';
  color: white;
  padding-top: 100px;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
  background: #f7a0cb;
  font-family: 'Alata', serif;
}

.detail-container {
  padding-top: 120px;
}

.product-details-container {
  padding: 0 25px 25px 25px;
  display: grid;
}

.p-name {
  font-family: 'Alata', serif;
  font-size: 20px;
  color: #ffebcd;
}

.p-price {
  font-size: 25px;
  font-family: 'Alata';
  color: #BF4A67;
}

.p-description {
  font-family: 'Space Mono', serif;
  color: #000;
  font-size: 16px;
}

/* End Products */



/* Media Queries */


@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 990px) {
  #mobile-nav {
    top: 0;
  }


}



@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

.socials {
  display: none;
}

}

@media screen and (max-width: 320px) {


}


/* END Media Queries */



