{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock%}

{% block content %}

    <!-- Socials -->
<div class="socials">
        <a href=""><i class="lab la-instagram la-3x"></i></a> <br>
        <a href=""><i class="lab la-facebook-f la-3x"></i></a> <br>
        <a href=""><i class="lab la-twitter la-3x"></i></a> <br>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            {{ products }}
        </div>
    </div>
</div>


{% endblock %}